# MongoDB Local
MONGO_URI=mongodb://localhost:27017/recycleapp

# Cloudinary
CLOUDINARY_CLOUD_NAME=dgrqafarv
CLOUDINARY_API_KEY=346284594598674
CLOUDINARY_API_SECRET=RCIjFOpRuSAK96N0DZYIjmTP-KQ

# Firebase Admin SDK (server side verification)
FIREBASE_PROJECT_ID=recyle-app-7977b

# Port
PORT=5000
